#root {
  max-width: 45rem;
  margin: 0 auto;
  text-align: center;
}

/* Navbar */
.navbar {
  background: rgb(103, 34, 128);
  background: linear-gradient(
    45deg,
    rgba(103, 34, 128, 1) 0%,
    rgba(166, 38, 211, 1) 100%
  );
  padding: 1.625rem 2.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (width > 33rem) {
  .navbar {
    flex-direction: row;
  }
}

.navbar p {
  font-weight: 500;
}

.navbar__logo {
  display: inherit;
  align-items: center;
  gap: 0.5rem;
}

.navbar__logo img {
  width: 43px;
  height: 37px;
}

@media (width > 33rem) {
  .navbar__logo img {
    width: 33px;
    height: 29px;
  }
}
